*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
.background{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(F:\portfolio/img.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	position: relative;
	overflow-y: auto;
}
.nav{
	width: 350px;
	height: auto;
	position: absolute;
	top: 20%;
	left: 0;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: verdana;
	font-weight: bold;
	height: 90px;
	margin: 5px;
	float: left;
	display: inline-block;
	background-color: #000000;
	color: #ffffff;
	line-height: 90px;
	text-align: center;
	border:solid white 1px;
	border-radius: 20px;
	transition: 300ms
}
a.active, .nav a:hover{
	background-color: #ffffff;
	color: #000000;
	width: 100%;
	border:solid black 3px;
}
.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 75%;
}
.d{
	width: 83%;
}
.content{
	position: absolute;
	width: 1200px;
	min-height: 500px;
	height: auto;
	right: 0;
	top: 10%;
}
.home{
	position: absolute;
	right: 0;
	bottom: -50px;
	color: #ffffff;

}
.home h1{
	font-size: 80px;
	padding-right: 80px;
	border-bottom: 1px solid white;
}
.home h3{
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
}
.aboutme{
	position: absolute;
	right: 0;
	top: 100px;
	color: #ffffff;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}
.aboutme p{
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 15px;
	opacity: 0.8;
}
.contact {
	position: absolute;
	left: 0px;
	top: 50px;
	color: #ffffff;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}
.contact p{
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 15px;
}
.place{
	text-align: right;
}
table{
	border-collapse: collapse;
	width: 100%
}
th,td{
	border: solid white 2px;
	padding: 5px;
	text-align: center;
	font-size: 15px;
}
td:hover{
	font-size: 18px;
}
.contactme{
	position: absolute;
	left: : 0;
	top: 80px;
	color: #ffffff;
	padding: 0 60px;
	display: none;
}
.inputtext{
	width: 55%;
	height: 65px;
	border: 3px solid black;
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 20px;
	border-radius: 20px;
	padding: 0 10px;
	float: left;
	margin-bottom: 10px;
}
.inputmessage{
	width: 55%;
	height: 135px;
	border: 3px solid black;
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 20px;
	border-radius: 20px;
	padding: 0 10px;
	float: left;
	margin-bottom: 10px;
}
.submitbutton{
	width: 160px;
	height: 65px;
	font-family: arial;
	background-color: white;
	color: black;
	font-size: 20px;
	font-weight: bold;
	border: none;
	float: left;
	clear: both;
	margin-top: 25px;
	cursor: pointer;
}
input:focus, textarea:focus ,button:focus{
	outline: none;
}